@font-face {
  font-family: "HelveticaNeueCyrRoman";
  src: url("HelveticaNeueCyrRoman.ttf");
}
@font-face {
  font-family: "HelveticaNeueCyrBold";
  src: url("HelveticaNeueCyrBold.ttf");
}
@font-face {
  font-family: "MyriadProBold";
  src: url("8141.otf");
}
